{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">首页</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">环境管理</a></li>
         
        </ol>
      </nav>
    <!-- Search Bar -->
    <div class="row mb-3">
        <div class="col-md-12">
            <form method="get" action="{% url 'environment_list' %}">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="按环境名称搜索" value="{{ request.GET.q }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">查询</button>
                        <button class="btn btn-outline-secondary" type="reset">重置</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Table with Project List -->
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between mb-2">
                <!-- Add Project Button -->
                <a href="{% url 'environment_create' %}" class="btn btn-primary">新增</a>
            </div>
            <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th style="width:40px;"><input type="checkbox" id="select-all"></th>
                        <th style="width:60px;">序号</th>
                        <th>环境名称</th>
                        <th>环境地址</th>
                        <th>描述</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th style="width:200px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for environment in environments %}
                    <tr>
                        <td><input type="checkbox" name="environment_ids" value="{{ environment.id }}"></td>
                        <td>{{ forloop.counter }}</td> <!-- Serial number -->
                        <td>{{ environment.environment_name }}</td>
                        <td>{{ environment.environment_value }}</td>
                        <td>{{ environment.description }}</td>
                        <td>{{ environment.created_by }}</td>
                        <td>{{ environment.created_at|date:"Y-m-d H:i" }}</td>
                        <td>
                            <!-- Edit and Delete buttons -->
                            <a href="{% url 'environment_update' environment.id %}" class="btn btn-sm btn-warning">编辑</a>
                            <button class="btn btn-sm btn-danger" onclick="openDeleteModal({{ environment.id }})">删除</button> 
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" class="text-center">无匹配结果。</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

                       <!-- 分页导航 -->  
 <!-- Pagination Controls -->
 <div id="pages" class="d-flex justify-content-end">
    <nav>
        <ul class="pagination">
            <li class="step-links">
                {% if environments.has_previous %}
                <a class='active' href="?page={{ environments.previous_page_number }}">上一页</a>
                {% endif %}
                <span class="current">
                    第 {{ environments.number }} 页 / 共 {{ environments.paginator.num_pages }} 页</span>
                {% if environments.has_next %}
                <a class='active' href="?page={{ environments.next_page_number }}">下一页</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>



        </div>
    </div>
</div>

<!-- 删除确认模态窗口 -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">删除确认</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                确定要删除此条记录吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">确认删除</button>
            </div>
        </div>
    </div>
</div>
<script>
     function openDeleteModal(environmentId) {
        $('#deleteModal').modal('show');
        $('#confirmDelete').off('click').on('click', function() {
            deleteEnviroment(environmentId);
        });
    }

    function deleteEnviroment(environmentId) {
        $.ajax({
            url: `/environments/${environmentId}/delete/`,
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.message === '删除成功') {
                    $('#deleteModal').modal('hide');
                    location.reload();  // 删除成功后刷新页面
                }
            },
            error: function() {
                alert('删除失败');
            }
        });
    }
</script>
{% endblock %}
