{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">首页</a></li>
      <li class="breadcrumb-item"><a href="{% url 'project_list' %}">项目管理</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">{% if form.instance.pk %}编辑项目{% else %}添加项目{% endif %}</a></li>
     
    </ol>
  </nav>
  <div class="ml-md-4">
  <form method="POST" class="needs-validation" novalidate>
    {% csrf_token %}
    {% load widget_tweaks %}
    <div class="mb-3 row">
        <label for="id_name" class="form-label">项目名称</label>
        <div class="ml-md-4">
        {% render_field form.name class="form-control" style="width:360px;" required="required" placeholder="请输入项目名称" %}
         </div>
         </div>
    
      <div class="mb-3 row">
          <label for="id_desc" class="form-label">项目描述</label>
          <div class="ml-md-4">
          {% render_field form.desc class="form-control" style="width:360px;"%}
        </div>
      </div>
      <div class="mb-3 row">
        <label for="id_pmp" class="form-label">项目负责人</label>
        <div class="ml-md-2">
        {% render_field form.proj_owner class="form-control" style="width:360px;"%}
        </div>
    </div>
    <div class="mb-3 row">
        <label for="id_test" class="form-label">测试负责人</label>
        <div class="ml-md-2">
        {% render_field form.test_owner class="form-control" style="width:360px;"%}
    </div>
    </div>
    <div class="mb-3 row">
      <label for="id_dep" class="form-label">开发负责人</label>
      <div class="ml-md-2">
      {% render_field form.dev_owner class="form-control" style="width:360px;"%}
    </div>
  </div>
   <!-- 错误提示 -->
   {% if form.errors %}
   <div class="alert alert-danger">
       <ul>
           {% for field in form %}
               {% if field.errors %}
                   <li>{{ field.label }}: {{ field.errors|striptags }}</li>
               {% endif %}
           {% endfor %}
       </ul>
   </div>
{% endif %}
  
    <button type="submit" class="btn btn-primary">保存</button>
    <a href="{% url 'project_list' %}" class="btn btn-secondary">返回</a>
</form>
</div>
</div>
{% endblock %}