{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">首页</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">定时任务</a></li>
         
        </ol>
      </nav>
    <!-- Search Bar -->
    <div class="row mb-3">
        <div class="col-md-12">
            <form action="{% url 'scheduled_search' %}" method="get">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="按任务名称搜索" value="{{ request.GET.q }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">搜索</button>
                        <a href="{% url 'scheduled_list' %}" class="btn btn-outline-primary ml-2">重置</a> <!-- Reset button -->
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Table with Project List -->
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between mb-2">
                <!-- Add Project Button -->
                <a href="{% url 'scheduled_create' %}" class="btn btn-primary">新增</a>
            </div>
           
            <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th style="width:40px"><input type="checkbox" id="select-all"></th>
                        <th style="width:60px">序号</th>
                        <th>任务名称</th>
                        <th>任务执行时间</th>
                        <th>邮箱</th>
                        <th>测试场景</th>
                        <th>状态</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for scheduled in scheduledes %}
                    <tr>
                        <td><input type="checkbox" name="scheduled_ids" value="{{ scheduled.id }}"></td>
                        <td>{{ forloop.counter }}</td> <!-- Serial number -->
                        <td>{{ scheduled.name }}</td>
                        <td>{{ scheduled.cron_expression }}</td>
                        <td> {{ scheduled.email }}</td>
                        <td>{{ scheduled.testscenario.name }}</td>
                        <td>{{ scheduled.get_status_display }}</td>
                        <td>{{ scheduled.created_by }}</td>
                        <td>{{ scheduled.created_at|date:"Y-m-d H:i" }}</td>
                       
                        <td>
                            <a href="{% url 'scheduled_update' scheduled.id %}" class="btn btn-sm btn-warning">编辑</a>
                            <button class="btn btn-sm btn-danger" onclick="openDeleteModal({{ scheduled.id }})">删除</button> 
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10" class="text-center">无匹配结果。</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
            <!-- 分页导航 -->  
 <!-- Pagination Controls -->
 <div id="pages" class="d-flex justify-content-end">
    <nav>
        <ul class="pagination">
            <li class="step-links">
                {% if scheduledes.has_previous %}
                <a class='active' href="?page={{ scheduledes.previous_page_number }}">上一页</a>
                {% endif %}
                <span class="current">
                    第 {{ scheduledes.number }} 页 / 共 {{ scheduledes.paginator.num_pages }} 页</span>
                {% if scheduledes.has_next %}
                <a class='active' href="?page={{ scheduledes.next_page_number }}">下一页</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>


        </div>
    </div>
</div>

<!-- 删除确认模态窗口 -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">删除确认</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                确定要删除此条记录吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">确认删除</button>
            </div>
        </div>
    </div>
</div>
<script>
     function openDeleteModal(scheduledId) {
        $('#deleteModal').modal('show');
        $('#confirmDelete').off('click').on('click', function() {
            deleteScheduled(scheduledId);
        });
    }

    function deleteScheduled(scheduledId) {
        $.ajax({
            url: `/scheduledes/delete/${scheduledId}/`,
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.message === '删除成功') {
                    $('#deleteModal').modal('hide');
                    location.reload();  // 删除成功后刷新页面
                }
            },
            error: function() {
                alert('删除失败');
            }
        });
    }

    $(document).ready(function() {
        $('.run-btn').click(function() {
            var scheduledId = $(this).data('id');
            $.ajax({
                url: "/run_scheduled/" + scheduledId + "/",
                method: "POST",
                data: {
                    'scheduledId': scheduledId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    alert('测试任务已启动，请稍后查看测试结果！');
                },
                error: function(xhr) {
                    alert('启动失败，请重试！');
                }
            });
        });
    });
</script>
{% endblock %}